<style>

    .pg1 {
        background: url(__IMGURL__{$ad['bg1']->img}) center no-repeat;
    }
    .pg2 {
        background: url(__IMGURL__{$ad['bg2']->img}) center no-repeat;
    }
    .pg3 {
        background: url(__IMGURL__{$ad['bg3']->img}) center no-repeat;
    }
    .pg4 {
        background: url(__IMGURL__{$ad['bg4']->img}) center no-repeat;
    }
    
</style>
<div class="pg pg1">
    <div class="inner">
        <img src="__IMGURL__{$ad['mobile']->img}" alt="暂无图片" class="pg-item pg1-img wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
        <img src="__IMGURL__{$ad['bg1_wenzi']->img}" alt="暂无图片" class="pg-item pg1-font wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
        <div class="pg1-code-wrap wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
            <img src="__IMGURL__{$ad['bg1_app']->img}" alt="暂无图片" class="pg1-code">
            <p class="pg1-txt">扫一扫 下载APP</p>
        </div>
    </div>
</div>
<div class="pg pg2">
    <div class="inner">
        <img src="__IMGURL__{$ad['bg2_wenzi']->img}" alt="" class="pg-item pg2-font wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
    </div>
</div>
<div class="pg pg3">
    <div class="inner">
        <img src="__IMGURL__{$ad['bg3_wenzi']->img}" alt="" class="pg-item pg3-font wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
    </div>
</div>
<div class="pg pg4">
    <div class="inner">
        <img src="__IMGURL__{$ad['bg4_wenzi']->img}" alt="" class="pg-item pg4-font wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
    </div>
</div>
