<style>
    .pg1 {
        background: url(__STATIC__images/bg_1.jpg) center no-repeat;
    }
    .pg2 {
        background: url(__STATIC__images/bg_2.jpg) center no-repeat;
    }
    .pg3 {
        background: url(__STATIC__images/bg_3.jpg) center no-repeat;
    }
    .pg4 {
        background: url(__STATIC__images/bg_4.jpg) center no-repeat;
    }
    
</style>
<div class="pg pg1">
    <div class="inner">
        <img src="__STATIC__images/mobile.png" alt="" class="pg-item pg1-img wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
        <img src="__STATIC__images/write_1.png" alt="" class="pg-item pg1-font wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
        <div class="pg1-code-wrap wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
            <img src="__STATIC__images/code.png" alt="" class="pg1-code">
            <p class="pg1-txt">扫一扫 下载APP</p>
        </div>
    </div>
</div>
<div class="pg pg2">
    <div class="inner">
        <img src="__STATIC__images/write_2.png" alt="" class="pg-item pg2-font wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
    </div>
</div>
<div class="pg pg3">
    <div class="inner">
        <img src="__STATIC__images/write_3.png" alt="" class="pg-item pg3-font wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
    </div>
</div>
<div class="pg pg4">
    <div class="inner">
        <img src="__STATIC__images/write_4.png" alt="" class="pg-item pg4-font wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
    </div>
</div>
