
    <img src="__STATIC__images/information_bg.jpg" alt="" class="news-banner">
    <div class="news-wrap">
        <div class="news-inner">
            <ul class="news-tab">
                <li class="active">产品展示</li>
                <li>公司动态</li>
                <li>最新资讯</li>
            </ul>
            <div class="news-cont-wrap">
                <div class="news-cont bd">
                    <div class="news-cont-tab">
                        <a class="top-news" href="./article.html">
                            <img src="__STATIC__images/information_pic.jpg" alt="">
                            <div class="top-news-txt">
                                <h3>WeLove 酸奶</h3>
                                <p>爱喝酸奶？总是喝完来不及买？给孩子早餐、中餐带什么好？来自制WeLove酸奶吧！几个小时的时间，您在家即可DIY！六种不同的口味新鲜、健康、美味爱喝酸奶？总是喝完来不及买？给孩子早餐、中餐带什么好？来自制WeLove酸奶爱喝酸奶？总是喝完来不及买？给孩子早餐、中餐带什么好？来自制WeLove酸奶爱喝酸奶？总是喝完来不及买？给孩子早餐、中餐带什么好？来自制WeLove酸奶！</p>
                                <p class="news-time">2017-12-12 08:30:24</p>
                            </div>
                        </a>
                        <div class="news-list">
                            <a class="news-item">
                                <div class="a-wrap news-item-active">
                                    <img src="__STATIC__images/pic.jpg" alt="" class="news-item-pic">
                                    <div class="news-info">
                                        <p class="news-info-title">WELOVE 冰淇淋</p>
                                        <p class="news-info-txt">马上要有聚会了？吃什么甜点好呢？是时候拿出WeLove冰激凌粉啦！</p>
                                        <p class="news-info-time">2017-12-09   08:30:24</p>
                                    </div>
                                </div>
                            </a>
                            <a class="news-item">
                                <div class="a-wrap">
                                    <img src="__STATIC__images/pic.jpg" alt="" class="news-item-pic">
                                    <div class="news-info">
                                        <p class="news-info-title">WELOVE 冰淇淋</p>
                                        <p class="news-info-txt">马上要有聚会了？吃什么甜点好呢？是时候拿出WeLove冰激凌粉啦！</p>
                                        <p class="news-info-time">2017-12-09   08:30:24</p>
                                    </div>
                                </div>
                            </a>
                            <a class="news-item">
                                <div class="a-wrap">
                                    <img src="__STATIC__images/pic.jpg" alt="" class="news-item-pic">
                                    <div class="news-info">
                                        <p class="news-info-title">WELOVE 冰淇淋</p>
                                        <p class="news-info-txt">马上要有聚会了？吃什么甜点好呢？是时候拿出WeLove冰激凌粉啦！</p>
                                        <p class="news-info-time">2017-12-09   08:30:24</p>
                                    </div>
                                </div>
                            </a>
                            <a class="news-item">
                                <div class="a-wrap">
                                    <img src="__STATIC__images/pic.jpg" alt="" class="news-item-pic">
                                    <div class="news-info">
                                        <p class="news-info-title">WELOVE 冰淇淋</p>
                                        <p class="news-info-txt">马上要有聚会了？吃什么甜点好呢？是时候拿出WeLove冰激凌粉啦！</p>
                                        <p class="news-info-time">2017-12-09   08:30:24</p>
                                    </div>
                                </div>
                            </a>
                            <a class="news-item">
                                <div class="a-wrap">
                                    <img src="__STATIC__images/pic.jpg" alt="" class="news-item-pic">
                                    <div class="news-info">
                                        <p class="news-info-title">WELOVE 冰淇淋</p>
                                        <p class="news-info-txt">马上要有聚会了？吃什么甜点好呢？是时候拿出WeLove冰激凌粉啦！</p>
                                        <p class="news-info-time">2017-12-09   08:30:24</p>
                                    </div>
                                </div>
                            </a>
                            <a class="news-item">
                                <div class="a-wrap">
                                    <img src="__STATIC__images/pic.jpg" alt="" class="news-item-pic">
                                    <div class="news-info">
                                        <p class="news-info-title">WELOVE 冰淇淋</p>
                                        <p class="news-info-txt">马上要有聚会了？吃什么甜点好呢？是时候拿出WeLove冰激凌粉啦！</p>
                                        <p class="news-info-time">2017-12-09   08:30:24</p>
                                    </div>
                                </div>
                            </a>
                            <a class="news-item">
                                <div class="a-wrap">
                                    <img src="__STATIC__images/pic.jpg" alt="" class="news-item-pic">
                                    <div class="news-info">
                                        <p class="news-info-title">WELOVE 冰淇淋</p>
                                        <p class="news-info-txt">马上要有聚会了？吃什么甜点好呢？是时候拿出WeLove冰激凌粉啦！</p>
                                        <p class="news-info-time">2017-12-09   08:30:24</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="company bd" style="display: none" >
                    1
                </div>
                <div class="consult bd" style="display: none" >
                    2
                </div>
            </div>
        </div>
    </div>
   