    <div class="about-wrap">
        <img src="__IMGURL__{$ad['banner']->img}" alt="暂无图片" class="about-banner">
        <div class="about-cont">
            <div class="about-inner">
                <img src="__IMGURL__{$ad['award']->img}" alt="暂无图片" class="about-inner-img wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                <div class="about-txt wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                  {$setting->info}
                   <!-- <h3>北京慰衡国际贸易有限公司</h3>
                    <p>北京慰衡国际贸易有限公司座落于祖国的首都北京-通州，是一家中外合资企业，主要经营纽澳冰淇淋粉、酸奶粉及蜂蜜酒等系列产品，公司总部位于大洋洲最新美丽的国家之一-新西兰。</p>
                    <p>公司坚持以人为本，诚信立业的经营原则，将纽澳最好、最优的产品奉献给广大消费者；公司致力于为消费者提供“绿色健康的食品”为己任，不断进取，开拓创新，创造一个绿色、有机、健康的食品环境。</p>
                    <div class="txt-red-wrap">
                        <p class="txt-red">企业精神：诚信在前、质量为先、合作共赢。</p>
                        <p class="txt-red">企业愿景：愿每一们消费者都能食用绿色健康的食品</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
