{extend name='public:base' /}
{block name="title"}网站设置{/block}

{block name="content"}
<style>
    .control-label {
        padding-right: 10px;
    }
</style>

<script>
    KindEditor.ready(function (K) {
        // var editor = K.create('#desc_textarea');
        var editor = K.create('textarea[name="info"]',{
            themeType: 'simple',
            resizeType: 1,
            uploadJson: '__EDITOR__/php/upload_json.php',
            fileManagerJson: '__EDITOR__/php/file_manager_json.php',
            allowFileManager: true,
            //下面这行代码就是关键的所在，当失去焦点时执行 this.sync();
            afterBlur: function(){this.sync();}
        });

    });

</script>

<!--弹出添加用户窗口-->
<form class="form-horizontal" action="{:url($act)}" method="post" enctype="multipart/form-data">


    <div class="row">
        <div class="col-xs-8">
            <div class="text-center">
                <h4 class="modal-title" id="gridSystemModalLabel">平台设置</h4>
            </div>
            <div class="">
                <div class="container-fluid">
                    <div class="form-group ">
                        <label  class="col-xs-5 control-label">客服电话：</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control input-sm" name='kefu' value="{$list->kefu|default=''}"  >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label  class="col-xs-5 control-label">邮箱：</label>
                        <div class="col-xs-7 ">
                            <input type="text" class="form-control input-sm duiqi" name='email' value="{$list->email|default=''}" >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label  class="col-xs-5 control-label">公司名称：</label>
                        <div class="col-xs-7 ">
                            <input type="text" class="form-control input-sm duiqi" name='company_name' value="{$list->company_name|default=''}" >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label  class="col-xs-5 control-label">备案号：</label>
                        <div class="col-xs-7 ">
                            <input type="text" class="form-control input-sm " name='beian' value="{$list->beian|default=''}" >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-xs-3 control-label"><span style="color:red;">*&nbsp;&nbsp;</span>公司简介：</label>
                        <div class="col-xs-8 ">
                            <textarea name="info"  style="width:600px;height:500px;">{$list->info|default=''}</textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="reset" class="btn btn-xs btn-white" data-dismiss="modal">取消</button>
                        <button type="submit" cla="btn btn-xs btn-green">修  改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>

<script>

</script>

{/block}
