<style>
    .download-wrap {
        height: 800px;
        background: url(__IMGURL__{$ad['bg']->img}) center no-repeat;
        background-size: cover;
    }
</style>
    <div class="download-wrap">
        <div class="inner1">
            <img src="__IMGURL__{$ad['phone']->img}" alt="暂无图片" class="d-img wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s">
            <div class="d-wrap wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                <img src="__IMGURL__{$ad['app_wenzi']->img}" alt="暂无图片" class="download-txt">
            </div>
            <div class="download wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                <div class="code-wrap">
                    <img src="__IMGURL__{$ad['app_download']->img}" alt="暂无图片" class="ios">
                    <img src="__IMGURL__{$ad['adroid_download']->img}" alt="暂无图片" class="andriod">
                </div>
                <img src="__IMGURL__{$ad['app_erweima']->img}" alt="" class="code">
            </div>
        </div>
    </div>
