<style>
    .download-wrap {

        background: url(__STATIC__images/particulars_pic.jpg) center no-repeat;
    }
</style>
    <div class="download-wrap">
        <div class="inner1">
            <img src="__STATIC__images/phone.png" alt="" class="d-img wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s">
            <div class="d-wrap wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                <img src="__STATIC__images/write_app.png" alt="" class="download-txt">
            </div>
            <div class="download wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                <div class="code-wrap">
                    <img src="__STATIC__images/ios.png" alt="" class="ios">
                    <img src="__STATIC__images/andriod.png" alt="" class="andriod">
                </div>
                <img src="__STATIC__images/code.png" alt="" class="code">
            </div>
        </div>
    </div>
