<style>
    .download-wrap {

        background: url(__STATIC__images/particulars_pic.jpg) center no-repeat;
    }
</style>
    <div class="download-wrap">
        <div class="inner1">
            <img src="__STATIC__images/phone.png" alt="" class="d-img wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s">
            <div class="d-wrap wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                <h3>WE LOVE APP 上线了!</h3>
                <p>愿每一位消费者都能适用绿色健康的食品</p>
            </div>
            <div class="download wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                <div class="code-wrap">
                    <img src="__STATIC__images/ios.png" alt="" class="ios">
                    <img src="__STATIC__images/andriod.png" alt="" class="andriod">
                </div>
                <img src="__STATIC__images/code.png" alt="" class="code">
            </div>
        </div>
    </div>
